TOKEN=AAAAB3NzaC1yc2EAAAADAQABAAABAQC10lZAhuiW67z2snCDqQKqOstVjWFP2NZ/Tqsn3nSBsH6MDDltlrbfWideTjAa78CFLIuQ3ema/nNWQwdhM8rOJv3seOkGlf6xn8xKgeWURZnumPjD2hL//FFMtS4wnbjqKrTVln9g8PmJWjPC5IcO0nEKwcH2CEPJaf9X8UFOHHAa1I4aTNcDnP12CI2lQbDc0Z/i9q2jcwz6HuHNJKaToBwNOFHVWrkdWZb0dqLBoU9VmVNjpRTCfSrzQ1O7XHEqkfB2Xd51T1MAuIta591LIpbXOcI17FcdIIfQorRLjOoZd6a73EWHnxwEZpPTwP66fAdIMKsa50iRK30QbO17
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=WibiTest106
DB_PORT=8070
DB_NAME=DBBackendAbschluss
Port=3000